.header {
    display: flex;
    height: 70px;
    width: 100%;
    position: fixed;
    background-color: rgba(0,0,0,0.75);
    color: white;
    z-index: 1000;
}

.header a {
    text-decoration: none
}

.header a:visited {
    color: white;
    text-decoration: none;
}

.leftside {
    display: flex;
    justify-content: start;
    padding-left: 20px;
    opacity: 1;
}

.leftside img {
    height: 48px;
    padding-top: 11px;
    padding-left: 15px;
}

.middle {
    display: flex;
    flex: auto;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Kanit', sans-serif;
    line-height: 1.35em;
    letter-spacing: 0.5em;
    padding-right: 35px;
}

.middle h1 {
    font-size: 24px;
    margin: 0;
    opacity: 1;
}

.middle p {
    margin: 0;
    color: rgb(134, 87, 0);
}
